@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "./variable.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background: #f7f7fc;
  font-weight: 700;
}
a {
  text-decoration: none;
}
#root {
  height: 100%;
}
main {
  display: flex;
  height: 100%;
}
aside {
  background: #ffffff;
  width: 20rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  @media only screen and (max-width: 1024px) {
    width: 15rem;
    padding: 1rem 1rem;
  }
  @media only screen and (max-width: 800px) {
    width: 12rem;
    padding: 1rem 1rem;
  }
}
section {
  padding: 1rem 2rem;
  width: calc(100% - 20rem);
  margin-left: 20rem;
  @media only screen and (max-width: 1024px) {
    width: calc(100% - 15rem);
    padding: 1rem 1rem;
    margin-left: 15rem;
  }
  @media only screen and (max-width: 800px) {
    width: calc(100% - 12rem);
    padding: 1rem 1rem;
    margin-left: 12rem;
  }
}
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: $color--dark;
  @media only screen and (max-width: 800px) {
    font-size: 1.4rem;
  }
  span {
    color: $color--danger;
  }
}
.navbar {
  list-style: none;
  width: 100%;
  margin-top: 2rem;
  li {
    padding: 1rem 0;
    a {
      color: $color--dark;
      font-weight: 500;
      transition: $transition;
      &.active {
        color: $color--dark;
      }
      &:hover {
        color: $color--dark;
      }
    }
  }
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
  @media only screen and (max-width: 800px) {
    font-size: 1.4rem;
  }
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
  @media only screen and (max-width: 800px) {
    font-size: 1rem;
  }
}
h6 {
  font-size: 1rem;
}
h1,
h2,
h3 {
  margin-bottom: 1rem;
}
h4,
h5,
h6 {
  margin-bottom: 0.8rem;
}
.card {
  width: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, 0.05);
  margin-bottom: 1rem;
  .btn {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
  }
}
pre {
  background: #f7f7fc;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 0.8rem;
}
code {
  font-weight: 300;
  font-size: 0.785rem;
  font-family: "Roboto", sans-serif;
  color: #232323;
  white-space: pre-wrap;
  @media only screen and (max-width: 800px) {
    font-size: 0.6rem;
  }
}
